<section class="nav-section">
  <nav>
    <ul class="nav-list">
      <li class="nav-profile">Profile</li>
      <li class="nav-weather">Weather</li>
      <li class="nav-news">News</li>
      <li class="nav-todos">Todos</li>
      <li class="nav-settings">Settings</li>
      <li>
        <form method='post' action='/logout'><button>Logout</button></form>
      </li>
    </ul>
  </nav>
</section>