<section class="nav-section">
  <nav>
    <ul class="nav-list">

      <li class="nav-profile">
        <a><img src="img/user.png" /></a>
      </li>

      <li class="nav-weather">
        <a onclick="showWeather()"><img src="img/rainy-day.png" /></a>
      </li>

      <li class="nav-news">
        <a onclick="showNews()"><img src="img/news.png" /></a>
      </li>

      <li class="nav-todos">
        <a onclick="showTodos()"><img src="img/to-do-list.png" /></a>
      </li>

      <li class="nav-settings">
        <a><img src="img/settings.png" /></a>
      </li>

      <li>
        <form method='post' action='/logout'>
          <button>
            <img src="img/logout.png" />
          </button>
        </form>
      </li>

    </ul>
  </nav>
</section>

<script type="text/javascript" src="js/nav.js"></script>