<section class="news-section hidden-mobile">
  <% if (newsData) { %>
    <% const defaultArticleImage = "img/article.jpg" %>

    <ul class="news-list">
      <% newsData.articles.map(function(elem) { %>
        <li class="news-article">
          <a class="news-article-link" href="<%= elem.url %>" target="_blank">
            <h1><%= elem.title %></h1>
            <% if (elem.urlToImage === null) { %>
              <img class="news-article-default-image" src="<%= defaultArticleImage %>" alt="no image found" />
            <% } else { %>
              <img class="news-article-image" src="<%= elem.urlToImage %>" alt="article photo" />
            <% } %>
          </a>
        </li>
      <% }) %>
    </ul>

  <% } else { %>

    <p>No news data!!!</p>

  <% } %>
</section>