<section class="news-section">
  <% if (newsData) { %>

    <ul class="news-list">
      <% newsData.articles.map(function(elem) { %>
        <li class="news-article">
          <p><%= elem.title %></p>
        </li>
      <% }) %>
    </ul>

  <% } else { %>

    <p>No news data!!!</p>

  <% } %>
</section>