<section class="weather-section">
  <% if (weatherData) { %>

    <ul class="weather-list">
      <% weatherData.daily.map(function(elem) { %>
        <% const date = new Date(elem.dt * 1000).getDate() %>
        <% const month = new Date(elem.dt * 1000).getMonth() + 1 %>
        <li class="weather-day">
          <p><%= date + ' / ' + month %></p>
          <p>Max: <%= elem.temp.max %></p>
          <p>Min: <%= elem.temp.min %></p>
        </li>
      <% }) %>
    </ul>

  <% } else { %>

    <p>No weather data!!!</p>

  <% } %>
</section>