<main class="login">
  <form method='post' action='/login'>
    <input type='email' name='email' placeholder='Email' required />
    <input type='password' name='password' placeholder='Password' required />
    <input class="grow" type='submit' value="Login"/>
  </form>

  <p class="error"><%= error %></p>

  <p class="register-message">Don't have an account? <a href='/register'>Register</a></p>
</main>