<main class="register">
  <form method='post' action='/register'>
    <input name='name' placeholder='Name' required />
    <input type='city' name='city' placeholder='City' required />
    <input type='country' name='country' placeholder='Country' required />
    <input type='email' name='email' placeholder='Email' required />
    <input type='password' name='password' placeholder='Password' required />
    <input class="grow" type='submit' value='Register'/>
  </form>

  <p class="error"><%= error %></p>

  <p class="login-message">Existing user? <a href='/login'>Login</a></p>
</main>