
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-dashboard {
  width: 100%;
  height: 100%;
}

.login, .register {
  display: inline-block;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LAYOUT FOR SMARTPHONES */
@media screen and (max-width: 767px) {
  .login, .register {
    width: 100%;
    height: 100%;
  }
  .weather {

  }
  .news {

  }
  .todos {

  }
}

/* LAYOUT FOR TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login, .register {
    width: 400px;
    height: 500px;
  }
  .weather {

  }
  .news {

  }
  .todos {
    
  }
}

/* LAYOUT FOR DESKTOPS */
@media screen and (min-width: 1024px) {
  .login, .register {
    width: 400px;
    height: 500px;
  }
  .weather {

  }
  .news {

  }
  .todos {
    
  }
}

.login .error {
  color: red;
  padding-top: 10px;
  /* padding-bottom: 30px; */
  min-height: 59px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  background-color: #eee;
  border: none;
}

form input, form button {
  margin: 10px;
}

form input {
  padding: 10px 15px;
  font-size: 1.1em;
  font-weight: lighter;
}

button, form input[type=submit] {
  border: none;
  font-size: 1.2em;
  font-weight: normal;
  padding: 12px 40px;
  background-color: #66d3fa;
  border-radius: 5px;
  color: #fff;
}

.register-message, .login-message {
  color: #777777;
  font-size: 0.9em;
}
.register-message a, .login-message a {
  color: #000;
  text-decoration: none;
}
.register-message a:hover, .login-message a:hover {
  color: #66d3fa;
}
.login-message {
  margin-top: 59px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.weather-section {
  /* background: green; */
  padding: 10px;
}

.weather-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather-day {
  border: 1px solid darkgrey;
  list-style: none;
  padding: 10px;
  background-color: #FFF;
}

.news-section {
  padding: 10px;
}

.news-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-article {
  border: 1px solid darkgrey;
  list-style: none;
  padding: 10px;
  background-color: #FFF;
  width: 200px;
  margin-bottom: 10px;
}